
@page "/OfferDetail/{id}"
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage Storage

<h3>OfferDetail</h3>

@code {

}
